.pricing {
  --text-color: rgb(171, 175, 199);
  --text-color-2: rgb(18, 26, 36);

  color: rgb(255 255 255);
  background-color: rgb(var(--clr-bg));
  padding: 6.28em 2.18em 12em;
  text-align: center;
}

.pricing h2 {
  color: rgb(255 255 255);
  max-width: 30ch;
  margin-inline: auto;
  margin-block-end: 2.66em;

  @media (min-width: 48rem) {
    margin-block-end: 2.56em;
  }
}

.pricing-cards-container {
  --grid-gap: 0;
  --flow-space: 8em;

  grid-template-columns: 1fr;
  grid-auto-rows: auto 180px auto;
  isolation: isolate;

  @media (min-width: 65rem) {
    --flow-space: 0;
    /* grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr)); */
    grid-template-columns: repeat(3, 1fr);
  }
}

.pricing-card {
  grid-row: span 3;
  display: grid;
  grid-template-rows: subgrid;
  background-color: rgb(25, 36, 49);
  border-radius: 24px;
  width: 75%;
  margin-inline: auto;
  position: relative;

  @media (min-width: 48rem) {
    width: 60%;
  }

  @media (min-width: 65rem) {
    width: 70%;
  }
}

.pricing-card-purchase {
  background-color: var(--text-color-2);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  transform: translate(8%, 9%);
  display: flex;
  align-items: flex-end;
  transition: all 0.25s ease-in-out;

  @media (min-width: 48rem) {
    transform: translate(clamp(11%, 11vw, 20%), 11%);
  }
}

.pricing-card:hover .pricing-card-purchase,
.pricing-card:focus-visible .pricing-card-purchase {
  background-color: rgb(var(--clr-pri));
  box-shadow: -15px 15px 50px 20px rgba(var(--clr-pri) / 0.2);
}

.pricing-card-purchase a {
  color: var(--text-color-2);
  font-weight: 700;
  transform: translate(50%, -50%);
  transition: color 0.25s ease-in-out;
}

.pricing-card:hover .pricing-card-purchase a,
.pricing-card:focus-visible .pricing-card-purchase a {
  color: rgb(255 255 255);
}

.pricing-card-hed {
  padding: 2.5em 0.93em;
}

.pricing-card-hed h3 {
  font-size: 1.375rem;
}

.pricing-card-hed h5 {
  color: var(--text-color);
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
}

.pricing-card-body {
  background-color: rgb(31, 43, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease-in-out;
}

.pricing-card:hover .pricing-card-body,
.pricing-card:focus-visible .pricing-card-body {
  background-color: rgb(var(--clr-sec));
}

.text-wrap {
  display: flex;
  align-items: flex-end;
}

.text-wrap p {
  font-size: 5.625rem;
  font-weight: bold;
  line-height: 1;
}

.text-wrap span {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
}

.pricing-card:hover .text-wrap span {
  color: rgb(255 255 255);
}

.text-wrap span:has(+ p) {
  align-self: flex-start;
}

.pricing-card-foot {
  --flow-space: 0.5em;

  padding: 2.5em 1.25em 5.31em;
}

.pricing-card-foot li {
  color: var(--text-color);
  font-weight: 500;
}
