.hero {
  background-image: url('../../assets/images/hero/hero-bg.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-inline: 2.18em;
  text-align: center;
  padding-block: 5em 6.25em;

  @media (min-width: 65rem) {
    background-position: bottom center;
    text-align: left;
  }
}

.hero-wrapper {
  --grid-gap: 5em;

  gap: var(--grid-gap);

  @media (min-width: 65rem) {
    gap: 0;
  }
}

.hero-heading {
  @media (min-width: 65rem) {
    grid-column: 2;
    align-self: center;
  }
}

.hero-heading p {
  margin-block-end: 2.25em;
  max-width: 28.75em;
  margin-inline: auto;
  font-weight: 500;

  @media (min-width: 65rem) {
    margin-inline: unset;
    margin-block: 1.875em;
  }
}

.button-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;

  @media (min-width: 31.25rem) {
    flex-direction: row;
  }

  @media (min-width: 65rem) {
    justify-content: flex-start;
  }
}

.hero-img-wrap {
  position: relative;
  isolation: isolate;
  will-change: transform;

  @media (min-width: 65rem) {
    grid-column: 3;
  }
}

.hero-img-wrap
  :is(
    .hero-img-2,
    .hero-img-3,
    .hero-img-4,
    .hero-img-5,
    .hero-img-6,
    .hero-img-7,
    .hero-img-8
  ) {
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.hero-img-wrap :is(.hero-img-8, .hero-img-5) {
  opacity: 1;
}

.hero-img-1 {
  opacity: 0;
  max-width: 95%;
  margin-inline: auto;

  @media (min-width: 65rem) {
    max-width: 100%;
  }
}

.hero-img-2 {
  max-width: 50%;
  left: -2.5em;
  top: 50%;
}

.hero-img-3 {
  max-width: 50%;
  right: -2.18em;
  bottom: 6%;
}

.hero-img-4 {
  max-width: 50%;
  left: -2.18em;
  top: 0;
}

.hero-img-5 {
  max-width: 30%;
  left: 0;
  bottom: 12%;
  z-index: -1 !important;
}

.hero-img-6 {
  max-width: 50%;
  right: -1.56em;
  top: 15%;
}

.hero-img-7 {
  max-width: 27%;
  left: 1.25em;
  bottom: 2%;
}

.hero-img-8 {
  max-width: 10%;
  right: 4em;
  top: 0;
}
