.blog-cards {
  padding: 6.25em 2.18em calc(6.25em + 284px);
}

.blog-card-wrap {
  @media (min-width: 48rem) {
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  }
}

.blog-card {
  position: relative;
}

.blog-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  filter: brightness(0.75);
}

.blog-card-img {
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s ease;
}

.blog-card:hover .blog-card-img {
  opacity: 1 !important;
  visibility: visible;
}

.blog-card-cont {
  --grid-gap: 0;

  position: relative;
  z-index: 10;
  place-content: center;
  padding: 5em 3.125em 3.123em;
  grid-auto-rows: 8em auto auto;
}

.blog-card-cont h3 {
  color: rgba(var(--clr-header) / 0.9);
  line-height: 1.7;
  text-wrap: unset;
  transition: color 0.35s ease;
}

.blog-card-cont span {
  color: #70798b;
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-block-end: 0.714em;
  transition: color 0.35s ease;
}

.blog-card-cont p {
  font-size: 0.875rem;
  font-weight: 600;
  margin-block-end: 2em;
  transition: color 0.35s ease;
}

.blog-card-cont > *:not(:first-child) {
  justify-self: start;
  line-height: 1.1;
}

.blog-card:hover .blog-card-content-how :is(h3, span, p) {
  color: rgb(255 255 255);
}

.blog-card-how:hover .button-sec-3 {
  background-color: rgb(var(--clr-sec));
}

/*--- Home ---- */
.flex-wrap {
  display: flex;
  flex-direction: column;

  gap: 2em;
  @media (min-width: 48rem) {
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 2.5em;
  }
}

.flex-wrap > * {
  @media (min-width: 48rem) {
    flex-basis: 17.5em;
    flex-grow: 1;
  }
}

.flex-wrap > *:nth-child(2) {
  @media (min-width: 65.6rem) {
    flex-basis: 25em;
    flex-grow: 2;
  }
}

.blog-card-img-home {
  filter: brightness(0.6);
}

.blog-cards :is(h2, h5) {
  text-align: center;
}

.blog-cards h2 {
  margin-block-end: 1.2em;
}

.blog-card-home :is(h3, span, p) {
  color: rgb(255 255 255);
}
